.App {
  text-align: center;
}

.App-header {
  background-color: #00a985;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-nav-bar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.Product {
  height: 100%;
  width: 200px;
  margin: 30px;
  display: inline-flex;
}

.Product-row {
  display: flex;
  justify-content: space-between;
}

.username {
  color: white;
}

.profile-pic {
  height: 50px;
  width: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.legend {
  background-color: #a0a4e8;
  padding: 10px;
}

.list {
  text-align:left;
}